.movie-details img {
    height: 250px;
    width: 150px;
}

.movie-details {
    display: flex;
    gap: 15px;
}


.info-div h3 {
    color: slateblue;
    margin: 20px 0;
}

.info-div span {
    padding: 5px;
    background-color: rgb(83, 29, 29);
}

.info-div p {
    margin-top: 10px;
}